* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #E7EDF4;
    overflow-x: hidden;
}

.header {
    text-align: center;
    margin: 0 auto;
    padding: 0;
    width: 100vw;
    background-color: #273B53;
}

.header-title {
    color: #DAC37B
}

.navigation {
    padding: 10px;
}

.navigation a {
    margin: 5px;
    padding: 3px;
    border: solid #DAC37B 1px;
    border-radius: 5px;
    text-decoration: none;
    color: #DAC37B;
}

.navigation a:hover {
    background-color: white;
    color: black;
}

.main {
    text-align: center;
    margin: 0 auto;
    padding: 0;
    width: 90vw;
    max-width: 600px;
}

h1, h2 {
    padding: 10px 10px 20px 10px;
}

.hr-short {
    width: 20%;
    margin: 0 auto;
}

h3 {
    padding: 20px 10px 0px 10px;
    text-align: left;
}

h4 {
    padding: 20px 10px 0px 10px;
    text-align: left;
}

.set-name {
    text-align: left;
    margin-left: 20px;
    font-weight: bold;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.tune-type-title {
    padding: 30px 10px 0px 10px;
}

.tune-title {
    text-align: left;
    text-decoration: underline;
    padding: 10px 10px 0px 10px;
}

.tune-additional-data {
    text-align: left;
    padding: 10px 30px;
}

.tune-id {
    visibility: hidden;
    height: 0;
    margin: 0;
    padding: 0;
}

.tune {
    max-width: 600px;
    color: black;
}

.iframe-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}
.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.audio-title {
    padding: 10px 0 0 0;
}

.audio-container {
    text-align: center;
}

.video-title {
    padding: 10px 0 0 0;
}

.video-container {
    text-align: center;
}

.abc-notation-container {
    padding: 10px;
    font-size: 12px;
    overflow-x: auto;
}

.bottom-padding {
    height: 200px;
}